h1{ 
text-align:center;
}
p{
color:black;
font-size:20px;
text-align:center;
}
body{
background:lightblue;
text-align:center;
}
h2{
font-size:30px;
text-align:center;
}
h3{
font-size:30px;
text-align:center;
}
h4{
border-top:solid 1px;
border-bottom:solid 1px;
text-align:center;
}
#spin:after {
   content:"";
  animation: spin 5s linear infinite;
  color:blue;
  font-size:60px;
  font-style:italic;
}
@keyframes spin {
  0% { content:"Smart"; }
  20% { content:"Driven"; }
  40% { content:"Fierce"; }
  60% { content:"Joyful"; }
  80% { content:"Loving"; } 
  100%{content:"Beautiful";}
}

